.sub-heading-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.sub-heading {
  font-size: 18px;
  color: #535353;
  text-transform: capitalize;
}
.saperation-line {
  position: relative;
  display: block;
  width: calc(100% - 150px);
  height: 1px;
  background-color: #bebebe;
}
